#header {
    fill: rgba(81,99,115,1);
}
.header {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 100px;
    left: 0px;
    top: 0px;
}
#Logopagina {
    position: absolute;
    width: 247px;
    height: 93px;
    left: 26px;
    top: 8px;
    overflow: visible;
}
#Icon_material-movie {
    fill: rgba(40,66,89,1);
}
.Icon_material-movie {
    filter: drop-shadow(-6px 0px 4px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 116.22px;
    height: 95.376px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Movie {
    left: 40px;
    top: 11px;
    position: absolute;
    overflow: visible;
    width: 184px;
    white-space: nowrap;
    text-align: left;
    font-family: Franklin Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 54px;
    color: rgba(179,176,191,1);
    letter-spacing: 1.43px;
}
#Renter {
    left: 123px;
    top: 41px;
    position: absolute;
    overflow: visible;
    width: 125px;
    white-space: nowrap;
    text-align: left;
    font-family: Harlow Solid;
    font-style: normal;
    font-weight: normal;
    font-size: 41px;
    color: rgba(4,191,173,1);
    letter-spacing: 0.21px;
}
#headerusuario {
    position: absolute;
    width: 285.505px;
    height: 52px;
    left: 1426px;
    top: 26px;
    overflow: visible;
}
#Grupo_1 {
    position: absolute;
    width: 45px;
    height: 45px;
    left: 171px;
    top: 3px;
    overflow: visible;
}
#Elipse_1 {
    fill: rgba(179,176,191,1);
}
.Elipse_1 {
    position: absolute;
    overflow: visible;
    width: 45px;
    height: 45px;
    left: 0px;
    top: 0px;
}
#Icon_ionic-md-person {
    fill: rgba(81,99,115,1);
}
.Icon_ionic-md-person {
    overflow: visible;
    position: absolute;
    width: 28.397px;
    height: 28.397px;
    left: 8.441px;
    top: 7.277px;
    transform: matrix(1,0,0,1,0,0);
}
#Usuario {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 157px;
    white-space: nowrap;
    text-align: right;
    font-family: Franklin Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 43px;
    color: rgba(179,176,191,1);
}
#Carritocompras {
    position: absolute;
    width: 53.505px;
    height: 48.672px;
    left: 232px;
    top: 3.328px;
    overflow: visible;
}
#Icon_awesome-shopping-cart {
    fill: rgba(179,176,191,1);
}
.Icon_awesome-shopping-cart {
    filter: drop-shadow(-5px 3px 6px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 63.765px;
    height: 58.68px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Elipse_2 {
    fill: rgba(179,176,191,1);
}
.Elipse_2 {
    position: absolute;
    overflow: visible;
    width: 23px;
    height: 23px;
    left: 30.505px;
    top: 24.672px;
}
#ID1 {
    left: 35.505px;
    top: 23.672px;
    position: absolute;
    overflow: visible;
    width: 14px;
    white-space: nowrap;
    text-align: left;
    font-family: Franklin Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(81,99,115,1);
}