#SignUp {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background-color: rgba(28,47,64,1);
    overflow: hidden;
    --web-view-name: SignUp;
    --web-view-id: SignUp;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
#contenedorRegister {
    position: absolute;
    width: 653px;
    height: 846px;
    left: 634px;
    top: 75px;
    overflow: visible;
}
#Rectngulo_12 {
    fill: rgba(81,99,115,1);
    stroke: rgba(179,176,191,1);
    stroke-width: 5px;
    stroke-linejoin: round;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectngulo_12 {
    position: absolute;
    overflow: visible;
    width: 663px;
    height: 95px;
    left: 0px;
    top: 0px;
}
#Rectngulo_11 {
    fill: rgba(40,66,89,1);
    stroke: rgba(179,176,191,1);
    stroke-width: 5px;
    stroke-linejoin: round;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectngulo_11 {
    position: absolute;
    overflow: visible;
    width: 663px;
    height: 771px;
    left: 0px;
    top: 85px;
}
#TerminosCondiciones {
    position: absolute;
    width: 192px;
    height: 16px;
    left: 744px;
    top: 628px;
    overflow: visible;
}
#CheckBox {
    fill: rgba(179,176,191,1);
}
.CheckBox {
    position: absolute;
    overflow: visible;
    width: 14px;
    height: 14px;
    left: 0px;
    top: 1px;
}
#Acepto_los_trminos_y_condicion {
    left: 19px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 174px;
    white-space: nowrap;
    text-align: left;
    font-family: Franklin Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(179,176,191,1);
}
#BotonSignup {
    position: absolute;
    width: 160px;
    height: 36px;
    left: 880px;
    top: 539px;
    overflow: visible;
    background-color: transparent;
}
#rectaSignUp {
    fill: rgba(77,196,134,1);
}
.rectaSignUp {
    filter: drop-shadow(0px 3px 0px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 160px;
    height: 39px;
    left: 0px;
    top: 0px;
}
#SignUp_r {
    left: 32px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 98px;
    white-space: nowrap;
    text-align: left;
    font-family: Franklin Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    color: rgba(40,66,89,1);
}
#inputContraSign {
    position: absolute;
    padding-left: 10px;
    background-color: rgba(179,176,191,1);
    border-radius: 16px;
    width: 446px;
    height: 45px;
    left: 737px;
    top: 441px;
    overflow: visible;
    white-space: nowrap;
    text-align: left;
    font-family: Franklin Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    color: rgba(40,66,89,1);
    
}
#Rectngulo_14 {
    fill: rgba(179,176,191,1);
}
.Rectngulo_14 {
    position: absolute;
    overflow: visible;
    width: 446px;
    height: 45px;
    left: 0px;
    top: 0px;
}
#Contrasea {
    left: 26px;
    top: 5px;
    position: absolute;
    overflow: visible;
    width: 158px;
    white-space: nowrap;
    text-align: left;
    font-family: Franklin Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    color: rgba(40,66,89,1);
}
#inputCorreoSign {
    position: absolute;
    width: 446px;
    height: 45px;
    left: 737px;
    top: 366px;
    overflow: visible;
    padding-left: 10px;
    background-color: rgba(179,176,191,1);
    border-radius: 16px;
    white-space: nowrap;
    text-align: left;
    font-family: Franklin Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    color: rgba(40,66,89,1);
}
#Rectngulo_14_w {
    fill: rgba(179,176,191,1);
}
.Rectngulo_14_w {

    position: absolute;
    overflow: visible;
    width: 446px;
    height: 45px;
    left: 0px;
    top: 0px;
}
#Correo {
    left: 26px;
    top: 5px;
    position: absolute;
    overflow: visible;
    width: 92px;
    white-space: nowrap;
    text-align: left;
    font-family: Franklin Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    color: rgba(40,66,89,1);
}
#inputNombreSign {
    position: absolute;
    width: 446px;
    height: 45px;
    left: 737px;
    top: 291px;
    overflow: visible;
    padding-left: 10px;
    background-color: rgba(179,176,191,1);
    border-radius: 16px;
    white-space: nowrap;
    text-align: left;
    font-family: Franklin Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    color: rgba(40,66,89,1);
}
#Rectngulo_13 {
    fill: rgba(179,176,191,1);
}
.Rectngulo_13 {
    position: absolute;
    overflow: visible;
    width: 446px;
    height: 45px;
    left: 0px;
    top: 0px;
}
#Nombre {
    left: 26px;
    top: 5px;
    position: absolute;
    overflow: visible;
    width: 107px;
    white-space: nowrap;
    text-align: left;
    font-family: Franklin Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    color: rgba(40,66,89,1);
}
#nete_a_nuestra_plataforma {
    left: 673px;
    top: 200px;
    position: absolute;
    overflow: visible;
    width: 453px;
    white-space: nowrap;
    text-align: left;
    font-family: Franklin Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    color: rgba(179,176,191,1);
}
#LogopaginaSingup {
    position: absolute;
    width: 159.243px;
    height: 59.334px;
    left: 880.757px;
    top: 87.666px;
    overflow: visible;
}
#Icon_material-movieSingup {
    fill: rgba(40,66,89,1);
}
.Icon_material-movieSingup {
    filter: drop-shadow(-6px 0px 4px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 79.614px;
    height: 66.091px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#MovieSingup {
    left: 26.243px;
    top: 7.334px;
    position: absolute;
    overflow: visible;
    width: 120px;
    white-space: nowrap;
    text-align: left;
    font-family: Franklin Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(179,176,191,1);
    letter-spacing: 1.43px;
}
#RenterSingup {
    left: 80.243px;
    top: 26.334px;
    position: absolute;
    overflow: visible;
    width: 80px;
    white-space: nowrap;
    text-align: left;
    font-family: Harlow Solid;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: rgba(4,191,173,1);
    letter-spacing: 0.21px;
}